* text=auto !eol
controls/49.pdf -text svneol=unset#unset
controls/Canudasfriction.pdf -text
controls/DataCurves/2010-06-19/data01.txt -text
controls/DataCurves/2010-06-19/data02.txt -text
controls/DataCurves/2010-06-19/data03.txt -text
controls/DataCurves/2010-06-19/data04.txt -text
controls/DataCurves/2010-06-19/data05.txt -text
controls/DataCurves/2010-06-19/data06.txt -text
controls/DataCurves/2010-06-19/data07.txt -text
controls/DataCurves/2010-06-19/data08.txt -text
controls/DataCurves/2010-06-19/data09.txt -text
controls/DataCurves/2010-06-19/data10.txt -text
controls/DataCurves/2010-06-19/data11.txt -text
controls/DataCurves/2010-06-19/data12.txt -text
controls/DataCurves/2010-06-19/index.txt -text
controls/DataCurves/2010-06-19/lfsr10.txt -text
controls/DataCurves/EncodersFullRange.txt -text
controls/DataCurves/EncodersHigh.txt -text
controls/DataCurves/EncodersLow.txt -text
controls/DataCurves/EncodersRail.txt -text
controls/DataCurves/GyroData -text
controls/DataCurves/Motor0BotData -text
controls/DataCurves/Motor0Data -text
controls/DataCurves/Motor1BotData -text
controls/DataCurves/Motor1Data -text
controls/DataCurves/Motor2BotData -text
controls/DataCurves/Motor2Data -text
controls/DataCurves/Motor3BotData -text
controls/DataCurves/Motor3Data -text
controls/DataCurves/PWMsFullRange.txt -text
controls/DataCurves/PWMsHigh.txt -text
controls/DataCurves/PWMsLow.txt -text
controls/DataCurves/PWMsRail.txt -text
controls/DataCurves/README -text
controls/DataCurves/Ramp.txt -text
controls/DataCurves/X_Log -text
controls/DataCurves/Y_Log -text
controls/GPCpart1.pdf -text svneol=unset#unset
controls/GPCpart2.pdf -text svneol=unset#unset
controls/PowerConv.m -text
controls/RoboController.mdl -text
controls/TF_to_params.m -text
controls/Updated.mdl -text
controls/comparePlot.m -text
controls/controller.mat -text
controls/drive_mosfet_control.odt -text
controls/dutycycles.txt -text
controls/encoders.txt -text
controls/iir.m -text
controls/kalman-test-data/Makefile -text
controls/kalman-test-data/avel-asof-kalman-output.fig -text
controls/kalman-test-data/ball-rolling-across-overlay-area.fig -text
controls/kalman-test-data/ball-rolling-across-overlay-area2.fig -text
controls/kalman-test-data/ball-stationary-center-of-overlay-area.fig -text
controls/kalman-test-data/ball-stationary-side-of-overlay-area.fig -text
controls/kalman-test-data/camera-and-kalman-ball-travel-across-the-field.jpg -text
controls/kalman-test-data/full-speed-kicking-error.fig -text
controls/kalman-test-data/fuzzy.tsv -text
controls/kalman-test-data/handy -text
controls/kalman-test-data/hist3-of-stationary-ball.fig -text
controls/kalman-test-data/kalman-out-ball-travel-straight.data -text
controls/kalman-test-data/kick-old.tsv -text
controls/kalman-test-data/newfilter.tsv -text
controls/kalman-test-data/one-ball-rolling-across-both-cam-multiple-times.tsv -text
controls/kalman-test-data/one-ball-rolling-across-both-cam-multiple-times2.tsv -text
controls/kalman-test-data/one-ball-rolling-across-both-cam-multiple-times3.tsv -text
controls/kalman-test-data/one-ball-rolling-overlay-area.tsv -text
controls/kalman-test-data/one-ball-rolling-straight-overlay.data -text
controls/kalman-test-data/one-ball-rolling-straight1.tsv -text
controls/kalman-test-data/one-ball-rolling-straight2.tsv -text
controls/kalman-test-data/one-ball-rolling-straight3.tsv -text
controls/kalman-test-data/one-ball-rolling-straight4.tsv -text
controls/kalman-test-data/one-ball-rolling-straight5.tsv -text
controls/kalman-test-data/one-ball-stationary-center-of-camera-cam1000-Ball-Data.data -text
controls/kalman-test-data/one-ball-stationary-center-of-camera-cam1000-S--SSL-Vision-Ball-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-ball-stationary-center-of-camera-cam1000-SSL-Vision-Ball-0.data -text
controls/kalman-test-data/one-ball-stationary-center-of-camera-cam1000.tsv -text
controls/kalman-test-data/one-ball-stationary-center-of-overlap-cam1000-Ball-Data.data -text
controls/kalman-test-data/one-ball-stationary-center-of-overlap-cam1000-S--SSL-Vision-Ball-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-ball-stationary-center-of-overlap-cam1000-SSL-Vision-Ball-0.data -text
controls/kalman-test-data/one-ball-stationary-center-of-overlap-cam1000.tsv -text
controls/kalman-test-data/one-ball-stationary-corner-of-camera-cam1000-Ball-Data.data -text
controls/kalman-test-data/one-ball-stationary-corner-of-camera-cam1000-S--SSL-Vision-Ball-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-ball-stationary-corner-of-camera-cam1000-SSL-Vision-Ball-0.data -text
controls/kalman-test-data/one-ball-stationary-corner-of-camera-cam1000.tsv -text
controls/kalman-test-data/one-ball-stationary-defense-area-cam1000-Ball-Data.data -text
controls/kalman-test-data/one-ball-stationary-defense-area-cam1000-S--SSL-Vision-Ball-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-ball-stationary-defense-area-cam1000-SSL-Vision-Ball-0.data -text
controls/kalman-test-data/one-ball-stationary-defense-area-cam1000.tsv -text
controls/kalman-test-data/one-ball-stationary-side-of-camera-cam1000-Ball-Data.data -text
controls/kalman-test-data/one-ball-stationary-side-of-camera-cam1000-S--SSL-Vision-Ball-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-ball-stationary-side-of-camera-cam1000-SSL-Vision-Ball-0.data -text
controls/kalman-test-data/one-ball-stationary-side-of-camera-cam1000.tsv -text
controls/kalman-test-data/one-ball-stationary-side-of-overlap-Ball-Data.data -text
controls/kalman-test-data/one-ball-stationary-side-of-overlap-S--SSL-Vision-Ball-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-ball-stationary-side-of-overlap-SSL-Vision-Ball-0.data -text
controls/kalman-test-data/one-ball-stationary-side-of-overlap.tsv -text
controls/kalman-test-data/one-robot-rotating1.tsv -text
controls/kalman-test-data/one-robot-rotating2.tsv -text
controls/kalman-test-data/one-robot-stationary-center-of-camera-cam1000-S--SSL-Vision-Robot-Y-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-robot-stationary-center-of-camera-cam1000.tsv -text
controls/kalman-test-data/one-robot-stationary-center-of-overlap-S--SSL-Vision-Robot-Y-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-robot-stationary-center-of-overlap.tsv -text
controls/kalman-test-data/one-robot-stationary-corner-of-camera-cam1000-S--SSL-Vision-Robot-Y-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-robot-stationary-corner-of-camera-cam1000.tsv -text
controls/kalman-test-data/one-robot-stationary-defense-area-S--SSL-Vision-Robot-Y-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-robot-stationary-defense-area.tsv -text
controls/kalman-test-data/one-robot-stationary-side-of-camera-cam1000-S--SSL-Vision-Robot-Y-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-robot-stationary-side-of-camera-cam1000.tsv -text
controls/kalman-test-data/one-robot-stationary-side-of-overlap-S--SSL-Vision-Robot-Y-0--SSL-Vision-Detection.data -text
controls/kalman-test-data/one-robot-stationary-side-of-overlap.tsv -text
controls/kalman-test-data/one-robot-swirling1.tsv -text
controls/kalman-test-data/parser.cpp -text
controls/kalman-test-data/pid3.tsv -text
controls/kalman-test-data/player.cpp -text
controls/kalman-test-data/replay.cpp -text
controls/kalman-test-data/robot-glitch-bug.tsv -text
controls/kalman-test-data/ssl2011/2011-07-05[!!-~]Friendly[!!-~]Match[!!-~]with[!!-~]RoboFEI.tsv -text
controls/kalman-test-data/ssl2011/camera0-loop-delay.tsv -text
controls/kalman-test-data/ssl2011/camera1-ball-calibration.tsv -text
controls/kalman-test-data/stdderiv.cpp -text
controls/kalman.m -text
controls/kalman/Makefile -text
controls/kalman/README.txt -text
controls/kalman/kalman.cpp -text
controls/kalman/kalman.h -text
controls/kalman/main.cpp -text
controls/kalman/matrix.cpp -text
controls/kalman/matrix.h -text
controls/kalman/sample_ouput -text
controls/omnidrive_kiart_preprint.pdf -text
controls/parameter_setup.asv -text
controls/parameter_setup.m -text
controls/robot_model/Makefile -text
controls/robot_model/controller.cpp -text
controls/robot_model/controller.h -text
controls/robot_model/main.cpp -text
controls/robot_model/motor.cpp -text
controls/robot_model/motor.h -text
controls/robot_model/pid_controller.cpp -text
controls/robot_model/pid_controller.h -text
controls/robot_model/plotshow.m -text
controls/robot_model/robot.cpp -text
controls/robot_model/robot.h -text
controls/robot_model/util.cpp -text
controls/robot_model/util.h -text
controls/useful_numbers -text
controls/wheel-data/dual-rail-25-50.txt -text
controls/wheel-data/dual-rail-50-25.txt -text
controls/wheel-data/single-rail-25-50.txt -text
controls/wheel-data/single-rail-50-25.txt -text
controls/wheelspeed.mdl -text
datasheets/ECS-3951M-3953M[!!-~](Oscillator).pdf -text
datasheets/Fairchild[!!-~]FGA180N33AT[!!-~](IGBT).pdf -text
datasheets/IEEE[!!-~]802.15.4.pdf -text
datasheets/Microchip[!!-~]PICkit2.pdf -text
datasheets/NXP[!!-~]KTY83[!!-~](Thermistor).pdf -text
datasheets/Nippon[!!-~]Chemi-Con[!!-~]SMQ[!!-~](Capacitor).pdf -text
datasheets/Turnigy[!!-~]Accucell[!!-~]6[!!-~]Charger.pdf -text
datasheets/bjts/BC847A.pdf -text
datasheets/cameras/AVT[!!-~]Stingray[!!-~]F046C[!!-~]IRF/Datasheet[!!-~]4.0.1.pdf -text
datasheets/cameras/AVT[!!-~]Stingray[!!-~]F046C[!!-~]IRF/Hardware[!!-~]Installation[!!-~]7.0.9.pdf -text
datasheets/cameras/AVT[!!-~]Stingray[!!-~]F046C[!!-~]IRF/Instruction[!!-~]Leaflet[!!-~]2.0.4.pdf -text
datasheets/cameras/AVT[!!-~]Stingray[!!-~]F046C[!!-~]IRF/Technical[!!-~]Manual[!!-~]4.4.2.pdf -text
datasheets/cameras/EC1020.pdf -text
datasheets/cameras/EC750.pdf -text
datasheets/connectors/114-00841-68[!!-~]µSD.pdf -text
datasheets/connectors/CUI[!!-~]SJ1-3523N[!!-~](Stereo[!!-~]Phone[!!-~]Jack).pdf -text svneol=unset#application/octet-stream
datasheets/connectors/Hirose[!!-~]FH12[!!-~](FPC).pdf -text
datasheets/connectors/Hirose[!!-~]FX6.pdf -text
datasheets/connectors/Molex/02-20-2xx5[!!-~](Housing;[!!-~]Solenoid).pdf -text
datasheets/connectors/Molex/02-20-3021[!!-~](Header;[!!-~]Solenoid).pdf -text
datasheets/connectors/Molex/08-5x-0xxx[!!-~](Pin[!!-~]for[!!-~]02-20-2xx5).pdf -text
datasheets/connectors/Molex/50079-8x00[!!-~](Pin[!!-~]for[!!-~]51021).pdf -text
datasheets/connectors/Molex/51021[!!-~](Housing;[!!-~]Encoder,[!!-~]Lateral[!!-~]Position[!!-~]Sensor,[!!-~]Dribbler[!!-~]Harness).pdf -text
datasheets/connectors/Molex/53048-0410[!!-~](Header;[!!-~]Encoder).pdf -text
datasheets/connectors/Molex/53261-0671_0771[!!-~](Header;[!!-~]Lateral[!!-~]Sensor).pdf -text
datasheets/connectors/Molex/53261-1171[!!-~](Header;[!!-~]Dribbler[!!-~]Harness).pdf -text
datasheets/connectors/Molex/638190300[!!-~](Crimp[!!-~]Tool[!!-~]for[!!-~]50079-8x00).pdf -text
datasheets/diodes/RB521G-30.pdf -text
datasheets/diodes/RURG3060C.pdf -text
datasheets/diodes/STTH10R04.pdf -text
datasheets/electromechanical/Maxon[!!-~]EC[!!-~]Commutation[!!-~]and[!!-~]Wiring.pdf -text svneol=unset#unset
datasheets/electromechanical/Maxon[!!-~]EC16[!!-~]15W[!!-~](Dribbler).pdf -text
datasheets/electromechanical/Maxon[!!-~]EC16[!!-~]30W[!!-~](Dribbler).pdf -text svneol=unset#application/octet-stream
datasheets/electromechanical/Maxon[!!-~]EC45[!!-~](Drivetrain)[!!-~]\[May[!!-~]2009[!!-~]Edition\].pdf -text
datasheets/electromechanical/Maxon[!!-~]EC45[!!-~](Drivetrain)[!!-~]\[May[!!-~]2011[!!-~]Edition\].pdf -text
datasheets/electromechanical/NKK[!!-~]A[!!-~]Series[!!-~](Power[!!-~]Switch).pdf -text
datasheets/ics/74AHC74[!!-~](Dual[!!-~]D[!!-~]FF).pdf -text
datasheets/ics/74HC4050[!!-~](Level[!!-~]Shifter).pdf -text
datasheets/ics/ADCs/ADS7866.pdf -text
datasheets/ics/ADCs/MCP3004_3008.pdf -text
datasheets/ics/ADG3123[!!-~](Level[!!-~]Shifter).pdf -text
datasheets/ics/FET[!!-~]Drivers/MCP1415_1416.pdf -text svneol=unset#unset
datasheets/ics/FET[!!-~]Drivers/MIC5020.pdf -text
datasheets/ics/FET[!!-~]Drivers/TC4467_4468_4469.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Block[!!-~]RAM.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Clocking.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Configurable[!!-~]Logic[!!-~]Blocks.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Configuration.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/DSP48A1[!!-~]Slices.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Datasheet.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Errata.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Family[!!-~]Overview.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/PCB[!!-~]Design[!!-~]and[!!-~]Pin[!!-~]Planning.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Packaging[!!-~]and[!!-~]Pinout.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Power[!!-~]Management.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/SelectIO.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/Configuration[!!-~]User[!!-~]Guide.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/Datasheet.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/In-System[!!-~]Flash[!!-~]Guide.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/Overview.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/Package[!!-~]Drawing.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/User[!!-~]Guide.pdf -text svneol=unset#application/octet-stream
datasheets/ics/HCT[!!-~]Package[!!-~]Information.pdf -text
datasheets/ics/HCT[!!-~]Package[!!-~]Outlines.pdf -text
datasheets/ics/HCT[!!-~]User[!!-~]Guide.pdf -text
datasheets/ics/L6234[!!-~]Motor[!!-~]Driver.pdf -text
datasheets/ics/MCUs/AVR/ATtiny26.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/AVR/AVR[!!-~]Instruction[!!-~]Set.pdf -text
datasheets/ics/MCUs/PIC18F6XJ50/Datasheet.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/PIC18F6XJ50/Errata.pdf -text
datasheets/ics/MCUs/STM32/ARMv7-M[!!-~]Architecture[!!-~]Reference[!!-~]Manual.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/STM32/Bootloader[!!-~]DFU[!!-~]File[!!-~]Format.pdf -text
datasheets/ics/MCUs/STM32/Bootloader[!!-~]DFU[!!-~]Protocol.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/STM32/STM32F4/Cortex[!!-~]M4[!!-~]Devices[!!-~]Generic[!!-~]User[!!-~]Guide.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/STM32/STM32F4/Cortex[!!-~]M4[!!-~]Errata.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/Cortex[!!-~]M4[!!-~]Technical[!!-~]Reference[!!-~]Manual.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/STM32F40x/Datasheet.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/STM32F40x/Development[!!-~]Board[!!-~]Manual.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/STM32F40x/Errata.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/STM32F40x/Reference[!!-~]Manual.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/STM32/System[!!-~]Memory[!!-~]Boot[!!-~]Mode[!!-~]AN2606[!!-~](Bootloader).pdf -text
datasheets/ics/Micrel[!!-~]MIC7300[!!-~](Opamp).pdf -text
datasheets/ics/Radios/MRF24J40/MRF24J40.pdf -text
datasheets/ics/Radios/MRF24J40/MRF24J40MA.pdf -text
datasheets/ics/Radios/MRF24J40/MRF24J40MB.pdf -text
datasheets/ics/Radios/MRF24J40/MRF24J40MC.pdf -text
datasheets/ics/Radios/MRF24J40/Silicon[!!-~]Errata.pdf -text
datasheets/ics/Radios/XBee.pdf -text
datasheets/ics/Winbond[!!-~]W25Q16BV[!!-~](SPI[!!-~]Flash).pdf -text
datasheets/mechanical/Maxon[!!-~]Gearbox.pdf -text svneol=unset#unset
datasheets/mechanical/dribbler[!!-~]bearing(A[!!-~]7Y[!!-~]5MFSS1006).pdf -text svneol=unset#unset
datasheets/mosfets/2N7002P.pdf -text
datasheets/mosfets/AO4616.pdf -text
datasheets/mosfets/IRF9310.pdf -text
datasheets/mosfets/STx20NK50Z.pdf -text
datasheets/mosfets/STx45N65M5.pdf -text
datasheets/optoelectronics/E4P[!!-~](Rotary[!!-~]Encoder).pdf -text
datasheets/optoelectronics/LPT80A[!!-~](Phototransistor).pdf -text svneol=unset#application/pdf
datasheets/optoelectronics/LTST-C150CKT[!!-~](Red[!!-~]LED).pdf -text
datasheets/optoelectronics/LTST-C150GKT[!!-~](Green[!!-~]LED).pdf -text
datasheets/optoelectronics/OPB733T[!!-~](LED+Phototransistor).pdf -text
datasheets/optoelectronics/OPV380[!!-~](Laser).pdf -text
datasheets/optoelectronics/PNA2602M[!!-~](Phototransistor).pdf -text
datasheets/optoelectronics/TEMT1000[!!-~](Phototransistor).pdf -text
datasheets/optoelectronics/VSMY2850[!!-~](IR[!!-~]LED).pdf -text
datasheets/regulators/LD1117V33C.pdf -text
datasheets/regulators/MCP1726.pdf -text
datasheets/regulators/OKI-78SR.pdf -text
datasheets/regulators/XC6222.pdf -text
datasheets/sdcard/part1_410.pdf -text svneol=unset#application/pdf
electronics/Chicker_Test_Board/Code/Boost_converter_final/Boost_converter_final.ino -text
electronics/Chicker_Test_Board/Schematic/Chicker_Test_Board.pro -text
electronics/models/mainboard_thermal/Assem1.SLDASM -text
electronics/models/mainboard_thermal/Part1.SLDPRT -text
electronics/models/mainboard_thermal/X.BAT -text
electronics/models/mainboard_thermal/Y.clg -text
electronics/models/mainboard_thermal/board.SLDPRT -text
electronics/models/mainboard_thermal/copper.SLDPRT -text
electronics/models/mainboard_thermal/heat_source.SLDPRT -text
vhdl/Doxyfile -text
vhdl/Makefile -text
vhdl/common/asyncserialtransmitter.vhd -text
vhdl/common/boostcontroller.vhd -text
vhdl/common/clock.vhd -text
vhdl/common/commutator.vhd -text
vhdl/common/cpuwrapper.vhd -text
vhdl/common/crc16.vhd -text
vhdl/common/deltalaser.vhd -text
vhdl/common/dmacontroller.vhd -text
vhdl/common/downclock.vhd -text
vhdl/common/encoderfail.vhd -text
vhdl/common/graycounter.vhd -text
vhdl/common/mcp3008.vhd -text
vhdl/common/motor.vhd -text
vhdl/common/mrf.vhd -text
vhdl/common/pavr/pavr_alu.vhd -text
vhdl/common/pavr/pavr_constants.vhd -text
vhdl/common/pavr/pavr_control.vhd -text
vhdl/common/pavr/pavr_data_mem.vhd -text
vhdl/common/pavr/pavr_io_file.vhd -text
vhdl/common/pavr/pavr_register_file.vhd -text
vhdl/common/pavr/pavr_util.vhd -text
vhdl/common/pavr/std_util.vhd -text
vhdl/common/pwm.vhd -text
vhdl/common/types.vhd -text
vhdl/sim/boostcontrollertest.vhd -text
vhdl/sim/crc16test.vhd -text
vhdl/sim/dmacontrollertest.vhd -text
vhdl/sim/pavrtest.vhd -text
vhdl/synth/clockgen.vhd -text
vhdl/synth/devicedna.vhd -text
vhdl/synth/icapwrapper.vhd -text
vhdl/synth/pintypes.vhd -text
vhdl/synth/spi.vhd -text
vhdl/synth/top.vhd -text
vhdl/thunderbots.bmm -text
vhdl/thunderbots.prj -text
vhdl/thunderbots.ucf -text
vhdl/thunderbots.xst -text
