electronics/*.bak
electronics/*.bck
electronics/flyback/$savepcb.*
electronics/flyback/*.000
electronics/flyback/*.bak
electronics/flyback/*.bck
electronics/flyback/*.cache.*
electronics/flyback/*.cmp
electronics/flyback/*.drl
electronics/flyback/*.erc
electronics/flyback/*.lst
electronics/flyback/*.mvl
electronics/flyback/*.net
electronics/flyback/*.pho
electronics/flyback/*.stf
electronics/logic/$savepcb.*
electronics/logic/*.000
electronics/logic/*.bak
electronics/logic/*.bck
electronics/logic/*.cache.*
electronics/logic/*.cmp
electronics/logic/*.drl
electronics/logic/*.erc
electronics/logic/*.lst
electronics/logic/*.mvl
electronics/logic/*.net
electronics/logic/*.pho
electronics/logic/*.stf
electronics/models/charge_pump/*.csv
electronics/models/charge_pump/*.d
electronics/models/charge_pump/*.o
electronics/models/charge_pump/charge_model
electronics/motorcontroller/$savepcb.*
electronics/motorcontroller/*.000
electronics/motorcontroller/*.bak
electronics/motorcontroller/*.bck
electronics/motorcontroller/*.cache.*
electronics/motorcontroller/*.cmp
electronics/motorcontroller/*.drl
electronics/motorcontroller/*.erc
electronics/motorcontroller/*.lst
electronics/motorcontroller/*.mvl
electronics/motorcontroller/*.net
electronics/motorcontroller/*.pho
electronics/motorcontroller/*.stf
vhdl/*.bgn
vhdl/*.bit
vhdl/*.bld
vhdl/*.cfi
vhdl/*.drc
vhdl/*.html
vhdl/*.log
vhdl/*.lso
vhdl/*.lst
vhdl/*.map
vhdl/*.mcs
vhdl/*.mrp
vhdl/*.ncd
vhdl/*.ngc
vhdl/*.ngd
vhdl/*.ngm
vhdl/*.o
vhdl/*.pad
vhdl/*.par
vhdl/*.pcf
vhdl/*.prm
vhdl/*.ptwx
vhdl/*.srp
vhdl/*.unroutes
vhdl/*.xml
vhdl/*.xpi
vhdl/*.xrpt
vhdl/*_pad.csv
vhdl/*_pad.txt
vhdl/_xmsgs
vhdl/common/controllerimpl.asm
vhdl/common/controllerimpl.vhd
vhdl/cputest
vhdl/graycountertest
vhdl/lfsr10test
vhdl/nanoasm
vhdl/saturatingaddertest
vhdl/serialreceivertest
vhdl/serialtransmittertest
vhdl/signmagnitudetest
vhdl/ssmultipliertest
vhdl/sumultipliertest
vhdl/thunderbots_bitgen.xwbt
vhdl/thunderbots_vhdl.prj
vhdl/work-obj93.cf
vhdl/xbeebytereceivertest
vhdl/xbeebytetransmittertest
vhdl/xbeepacketreceivertest
vhdl/xlnx_auto_0_xdb
vhdl/xst
