* text=auto !eol
datasheets/2N3904[!!-~]NPN.pdf -text
datasheets/3900uF[!!-~]160V[!!-~]capacitor.pdf -text
datasheets/GA3460[!!-~]Flyback[!!-~]Transformer.pdf -text
datasheets/IEEE[!!-~]802.15.4.pdf -text
datasheets/KTY83_SER[!!-~]thermister.pdf -text
datasheets/PICkit2.pdf -text
datasheets/RL3264L4[!!-~]Series[!!-~]resistor.pdf -text
datasheets/Turnigy[!!-~]Accucell[!!-~]6[!!-~]Charger.pdf -text
datasheets/bjts/BC847A.pdf -text
datasheets/cameras/EC1020.pdf -text
datasheets/cameras/EC750.pdf -text
datasheets/connectors/Encoder.pdf -text
datasheets/connectors/FPC-52207.pdf -text
datasheets/connectors/MHC40E-ND.pdf -text svneol=unset#application/octet-stream
datasheets/connectors/SJ1-3523N[!!-~]Stereo[!!-~]Phone[!!-~]Jack.pdf -text svneol=unset#application/octet-stream
datasheets/connectors/Tyco[!!-~]643226-1.pdf -text
datasheets/connectors/UX60SC-MB-5ST[!!-~]USB[!!-~]Mini-B.pdf -text
datasheets/connectors/WM1142.pdf -text
datasheets/connectors/WM4306-ND.pdf -text
datasheets/connectors/WM7624CT-ND.pdf -text
datasheets/connectors/WM9984-ND[!!-~]Crimp[!!-~]Tool.pdf -text
datasheets/connectors/XF2L.pdf -text
datasheets/diodes/BAT54JW.pdf -text
datasheets/diodes/BAT54W.pdf -text
datasheets/diodes/BAT85.pdf -text
datasheets/diodes/BZX79-C5V1.pdf -text
datasheets/diodes/DPG60C300HB.pdf -text
datasheets/diodes/MUR860.pdf -text
datasheets/diodes/NSR15DW1T1.pdf -text
datasheets/diodes/RURG3060C.pdf -text
datasheets/diodes/RURP860.pdf -text
datasheets/diodes/STTH10R04.pdf -text
datasheets/dribbler/Maxon[!!-~]Gearbox.pdf -text svneol=unset#unset
datasheets/dribbler/dribbler[!!-~]bearing(A[!!-~]7Y[!!-~]5MFSS1006).pdf -text svneol=unset#unset
datasheets/electromechanical/EC16.pdf -text
datasheets/electromechanical/EC45.pdf -text
datasheets/electromechanical/maxon_brushless_commutation.pdf -text svneol=unset#unset
datasheets/ics/74AHC74.pdf -text
datasheets/ics/74HC4050.pdf -text
datasheets/ics/ADCs/ADS7866.pdf -text
datasheets/ics/ADCs/MCP3004_3008.pdf -text
datasheets/ics/FET[!!-~]Drivers/MCP1415_1416.pdf -text svneol=unset#unset
datasheets/ics/FET[!!-~]Drivers/TC4467_4468_4469.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Block[!!-~]RAM.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Clocking.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Configurable[!!-~]Logic[!!-~]Blocks.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Configuration.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/DSP48A1[!!-~]Slices.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Datasheet.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Errata[!!-~]1.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Errata[!!-~]2.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Family[!!-~]Overview.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/PCB[!!-~]Design[!!-~]and[!!-~]Pin[!!-~]Planning.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Packaging[!!-~]and[!!-~]Pinout.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/Power[!!-~]Management.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]Spartan[!!-~]6/SelectIO.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/Configuration[!!-~]User[!!-~]Guide.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/Datasheet.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/In-System[!!-~]Flash[!!-~]Guide.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/Overview.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/Package[!!-~]Drawing.pdf -text
datasheets/ics/FPGAs/Xilinx[!!-~]XC3S50A-4TQ144C/User[!!-~]Guide.pdf -text svneol=unset#application/octet-stream
datasheets/ics/Flash/M25P16.pdf -text
datasheets/ics/Flash/W25Q16BV.pdf -text
datasheets/ics/Flash/W25X16AVDAIZ.pdf -text
datasheets/ics/HCT[!!-~]Package[!!-~]Information.pdf -text
datasheets/ics/HCT[!!-~]Package[!!-~]Outlines.pdf -text
datasheets/ics/HCT[!!-~]User[!!-~]Guide.pdf -text
datasheets/ics/MCUs/NXP[!!-~]-[!!-~]LPC1769FBD100/user.manual.lpc17xx.pdf -text
datasheets/ics/MCUs/PIC18F4550/Datasheet.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/PIC18F4550/Errata.pdf -text
datasheets/ics/MCUs/PIC18F6XJ50/Datasheet.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/PIC18F6XJ50/Errata.pdf -text
datasheets/ics/MCUs/STM32/ARMv7-M[!!-~]Architecture[!!-~]Reference[!!-~]Manual.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/STM32/Bootloader[!!-~]DFU[!!-~]File[!!-~]Format.pdf -text
datasheets/ics/MCUs/STM32/Bootloader[!!-~]DFU[!!-~]Protocol.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/STM32/STM32F4/Cortex[!!-~]M4[!!-~]Devices[!!-~]Generic[!!-~]User[!!-~]Guide.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/STM32/STM32F4/Cortex[!!-~]M4[!!-~]Errata.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/Cortex[!!-~]M4[!!-~]Technical[!!-~]Reference[!!-~]Manual.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/STM32F40x/Datasheet.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/STM32F40x/Development[!!-~]Board[!!-~]Manual.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/STM32F40x/Errata.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/STM32F40x/Flash[!!-~]Programming[!!-~]Manual.pdf -text
datasheets/ics/MCUs/STM32/STM32F4/STM32F40x/Reference[!!-~]Manual.pdf -text svneol=unset#application/octet-stream
datasheets/ics/MCUs/STM32/System[!!-~]Memory[!!-~]Boot[!!-~]Mode[!!-~]AN2606[!!-~](Bootloader).pdf -text
datasheets/ics/Opamps/MIC7300.pdf -text
datasheets/ics/Opamps/TL071_072_074.pdf -text
datasheets/ics/QS3126[!!-~]Quad[!!-~]Bus[!!-~]Switch.pdf -text
datasheets/ics/Radios/MRF24J40/MRF24J40.pdf -text
datasheets/ics/Radios/MRF24J40/MRF24J40MA.pdf -text
datasheets/ics/Radios/MRF24J40/MRF24J40MB.pdf -text
datasheets/ics/Radios/MRF24J40/MRF24J40MC.pdf -text
datasheets/ics/Radios/MRF24J40/Silicon[!!-~]Errata.pdf -text
datasheets/ics/Radios/XBee.pdf -text
datasheets/ics/SN74LVC1G80.pdf -text
datasheets/ics/SN74LVC8T245[!!-~]8-bit[!!-~]Bus[!!-~]Transceiver.pdf -text
datasheets/igbts/FGA180N33AT.pdf -text
datasheets/mosfets/2N7000.pdf -text
datasheets/mosfets/AO4616.pdf -text
datasheets/mosfets/AOP605.pdf -text
datasheets/mosfets/IRF5305.pdf -text
datasheets/mosfets/IRFP90N20D.pdf -text
datasheets/mosfets/IXFX180N25T.pdf -text
datasheets/mosfets/STB20NK50Z.pdf -text svneol=unset#unset
datasheets/mosfets/STx20NK50Z.pdf -text
datasheets/mosfets/SUM33N20.pdf -text
datasheets/mosfets/sum45n25.pdf -text
datasheets/optoelectronics/4N33M.pdf -text
datasheets/optoelectronics/E4P.pdf -text
datasheets/optoelectronics/OPB733T.pdf -text
datasheets/optoelectronics/OPV380.pdf -text
datasheets/optoelectronics/PNA2602M.pdf -text
datasheets/optoelectronics/PS9552.pdf -text
datasheets/optoelectronics/temd1000.pdf -text
datasheets/optoelectronics/temt1000.pdf -text
datasheets/optoelectronics/vsmy2850.pdf -text
datasheets/oscillators/ABLS-4.000MHz[!!-~]Crystal.pdf -text
datasheets/oscillators/ACOL50[!!-~]Oscillator.pdf -text
datasheets/oscillators/FXO-HC735[!!-~]Canned[!!-~]Oscillator.pdf -text
datasheets/regulators/LD1117V33C.pdf -text
datasheets/regulators/MCP1827S.pdf -text
datasheets/regulators/OKI-78SR.pdf -text
datasheets/regulators/PT78ST105.pdf -text
datasheets/regulators/V78XX-1000.pdf -text
datasheets/regulators/XC6222.pdf -text
electronics/Chicker[!!-~]Test[!!-~]Board/Chicker[!!-~]Test[!!-~]Board.brd -text
electronics/Chicker[!!-~]Test[!!-~]Board/Chicker[!!-~]Test[!!-~]Board.cmp -text
electronics/Chicker[!!-~]Test[!!-~]Board/Chicker[!!-~]Test[!!-~]Board.pro -text
electronics/Chicker[!!-~]Test[!!-~]Board/Chicker[!!-~]Test[!!-~]Board.sch -text
electronics/breakbeam/breakbeam.brd -text
electronics/breakbeam/breakbeam.cmp -text
electronics/breakbeam/breakbeam.pro -text
electronics/breakbeam/breakbeam.sch -text
electronics/breakbeam/breakbeamreceiver.brd -text
electronics/breakbeam/breakbeamreceiver.cmp -text
electronics/breakbeam/breakbeamreceiver.pro -text
electronics/breakbeam/breakbeamreceiver.sch -text
electronics/digibom/digibom.py -text
electronics/digibom/digibom/__init__.py -text
electronics/digibom/digibom/bom.py -text
electronics/digibom/digibom/main.py -text
electronics/digibom/digibom/octopart.py -text
electronics/digibom/digibom/partinfo.py -text
electronics/digibom/digibom/projectinfo.py -text
electronics/digibom/digibom/xdg/__init__.py -text
electronics/digibom/digibom/xdg/basedir.py -text
electronics/dongle/dongle.cmp -text
electronics/dongle/gerbmerge/dongle10.cfg -text
electronics/dongle/gerbmerge/dongle10.def -text
electronics/dribbler_testboard/dribbler_testboard.brd -text
electronics/dribbler_testboard/dribbler_testboard.cmp -text
electronics/dribbler_testboard/dribbler_testboard.net -text
electronics/dribbler_testboard/dribbler_testboard.pro -text
electronics/dribbler_testboard/dribbler_testboard.sch -text
electronics/main/adc.sch -text
electronics/models/solenoid/solenoid.mdl -text
electronics/models/solenoid2/computeDiff.m -text
electronics/models/solenoid2/getMuR.m -text
electronics/models/solenoid2/getReluctance.m -text
electronics/models/solenoid2/kickdata.m -text
electronics/models/solenoid2/moded.csv -text
electronics/models/solenoid2/plotter.m -text
electronics/models/solenoid2/solenoidModel.m -text
electronics/sensor/sensor.brd -text
electronics/sensor/sensor.cmp -text
electronics/sensor_harness_sch/sensor_harness_sch.sch -text
vhdl/Doxyfile -text
vhdl/Makefile -text
vhdl/common/adc.vhd -text
vhdl/common/boostcontroller.vhd -text
vhdl/common/clock.vhd -text
vhdl/common/commutator.vhd -text
vhdl/common/crc16.vhd -text
vhdl/common/deadband.vhd -text
vhdl/common/flashchecksummer.vhd -text
vhdl/common/graycounter.vhd -text
vhdl/common/kicker.vhd -text
vhdl/common/main.vhd -text
vhdl/common/motor.vhd -text
vhdl/common/parbus.vhd -text
vhdl/common/pwm.vhd -text
vhdl/common/syncdown.vhd -text
vhdl/common/types.vhd -text
vhdl/sim/boostcontrollertest.vhd -text
vhdl/sim/crc16test.vhd -text
vhdl/sim/deadbandtest.vhd -text
vhdl/sim/flashchecksummertest.vhd -text
vhdl/synth/clockgen.vhd -text
vhdl/synth/pintypes.vhd -text
vhdl/synth/top.vhd -text
vhdl/thunderbots.prj -text
vhdl/thunderbots.ucf -text
vhdl/thunderbots.xst -text
