electronics/*.bak
electronics/*.bck
electronics/fpga-prototype/$savepcb.*
electronics/fpga-prototype/*.000
electronics/fpga-prototype/*.bak
electronics/fpga-prototype/*.bck
electronics/fpga-prototype/*.cache.lib
electronics/fpga-prototype/*.drl
electronics/fpga-prototype/*.net
electronics/fpga-prototype/*.pho
electronics/motorcontroller/$savepcb.*
electronics/motorcontroller/*.000
electronics/motorcontroller/*.bak
electronics/motorcontroller/*.bck
electronics/motorcontroller/*.cache.lib
electronics/motorcontroller/*.drl
electronics/motorcontroller/*.net
electronics/motorcontroller/*.pho
