controls/kalman-test-data/*.d
controls/kalman-test-data/*.o
controls/kalman-test-data/*.txt
controls/kalman-test-data/parser
controls/kalman-test-data/replay
controls/kalman-test-data/stdderiv
controls/kalman/*.d
controls/kalman/main
controls/robot_model/*.d
controls/robot_model/*.o
controls/robot_model/robot_sim
electronics/digibom/digibom/*.pyc
electronics/digibom/digibom/*.pyo
electronics/digibom/digibom/__pycache__
electronics/models/boost/*.d
electronics/models/boost/boost_model
electronics/models/charge_pump/*.csv
electronics/models/charge_pump/*.d
electronics/models/charge_pump/*.o
electronics/models/charge_pump/charge_model
electronics/models/flyback/*.csv
electronics/models/flyback/*.d
electronics/models/flyback/flyback_model
electronics/models/solenoid/*.csv
electronics/models/solenoid/*.o
electronics/models/solenoid/solenoid
vhdl/*.bgn
vhdl/*.bin
vhdl/*.bit
vhdl/*.bld
vhdl/*.cfi
vhdl/*.drc
vhdl/*.html
vhdl/*.log
vhdl/*.lso
vhdl/*.lst
vhdl/*.map
vhdl/*.mcs
vhdl/*.mrp
vhdl/*.ncd
vhdl/*.ngc
vhdl/*.ngd
vhdl/*.ngm
vhdl/*.pad
vhdl/*.par
vhdl/*.pcf
vhdl/*.prm
vhdl/*.ptwx
vhdl/*.srp
vhdl/*.tsi
vhdl/*.twr
vhdl/*.twx
vhdl/*.unroutes
vhdl/*.vcd
vhdl/*.xml
vhdl/*.xpi
vhdl/*.xrpt
vhdl/*_pad.csv
vhdl/*_pad.txt
vhdl/_xmsgs
vhdl/ghdl
vhdl/html
vhdl/tags
vhdl/thunderbots.dfu
vhdl/thunderbots_bd.bmm
vhdl/thunderbots_bitgen.xwbt
vhdl/thunderbots_vhdl.prj
vhdl/work-obj93.cf
vhdl/xlnx_auto_0_xdb
vhdl/xst
