# Global configuration options
config part=xc3s50atq144-4;
config vccaux=3.3;
config post_crc=enable;

# 8MHz oscillator
timespec "TSOscillator" = PERIOD "Oscillator" 125 ns INPUT_JITTER 31.35 ps; # Input jitter computed from oscillator datasheet as jitter plus frequency stability
net "OscillatorPin" iostandard=LVCMOS33 | float | tnm_net="Oscillator" | loc=P125;

# PIC
net "DCMResetPin" iostandard=LVCMOS33 | float | loc=P129;
net "DCMLockedPin" iostandard=LVCMOS33 | slew=quietio | loc=P126;
net "ResetPin" iostandard=LVCMOS33 | float | loc=P42;
net "ParbusDataPin<0>" iostandard=LVCMOS33 | float | slew=fast | loc=P7;
net "ParbusDataPin<1>" iostandard=LVCMOS33 | float | slew=fast | loc=P8;
net "ParbusDataPin<2>" iostandard=LVCMOS33 | float | slew=fast | loc=P10;
net "ParbusDataPin<3>" iostandard=LVCMOS33 | float | slew=fast | loc=P11;
net "ParbusDataPin<4>" iostandard=LVCMOS33 | float | slew=fast | loc=P12;
net "ParbusDataPin<5>" iostandard=LVCMOS33 | float | slew=fast | loc=P13;
net "ParbusDataPin<6>" iostandard=LVCMOS33 | float | slew=fast | loc=P15;
net "ParbusDataPin<7>" iostandard=LVCMOS33 | float | slew=fast | loc=P16;
net "ParbusReadPin" iostandard=LVCMOS33 | float | loc=P141;
net "ParbusWritePin" iostandard=LVCMOS33 | float | loc=P142;

# SPI flash
net "FlashCSPin" iostandard=LVCMOS33 | slew=fast | pullup | loc=P41;
net "FlashClockPin" iostandard=LVCMOS33 | slew=fast | loc=P72;
net "FlashMOSIPin" iostandard=LVCMOS33 | slew=fast | loc=P62;
net "FlashMISOPin" iostandard=LVCMOS33 | slew=fast | loc=P71;

# LEDs
net "LEDsPin<0>" iostandard=LVCMOS33 | slew=quietio | loc=P101;
net "LEDsPin<1>" iostandard=LVCMOS33 | slew=quietio | loc=P99;
net "LEDsPin<2>" iostandard=LVCMOS33 | slew=quietio | loc=P98;
net "LEDsPin<3>" iostandard=LVCMOS33 | slew=quietio | loc=P96;

# Optical encoders
net "EncodersPin<1><0>" iostandard=LVCMOS33 | pullup | loc=P5;
net "EncodersPin<1><1>" iostandard=LVCMOS33 | pullup | loc=P6;
net "EncodersPin<2><0>" iostandard=LVCMOS33 | pullup | loc=P30;
net "EncodersPin<2><1>" iostandard=LVCMOS33 | pullup | loc=P31;
net "EncodersPin<3><0>" iostandard=LVCMOS33 | pullup | loc=P77;
net "EncodersPin<3><1>" iostandard=LVCMOS33 | pullup | loc=P76;
net "EncodersPin<4><0>" iostandard=LVCMOS33 | pullup | loc=P92;
net "EncodersPin<4><1>" iostandard=LVCMOS33 | pullup | loc=P91;

# Motor drivers
net "MotorsPhasesPPin<1><0>" iostandard=LVCMOS33 | slew=quietio | loc=P18;
net "MotorsPhasesPPin<1><1>" iostandard=LVCMOS33 | slew=quietio | loc=P19;
net "MotorsPhasesPPin<1><2>" iostandard=LVCMOS33 | slew=quietio | loc=P20;
net "MotorsPhasesNPin<1><0>" iostandard=LVCMOS33 | slew=quietio | loc=P21;
net "MotorsPhasesNPin<1><1>" iostandard=LVCMOS33 | slew=quietio | loc=P24;
net "MotorsPhasesNPin<1><2>" iostandard=LVCMOS33 | slew=quietio | loc=P25;
net "MotorsPhasesPPin<2><0>" iostandard=LVCMOS33 | slew=quietio | loc=P51;
net "MotorsPhasesPPin<2><1>" iostandard=LVCMOS33 | slew=quietio | loc=P54;
net "MotorsPhasesPPin<2><2>" iostandard=LVCMOS33 | slew=quietio | loc=P55;
net "MotorsPhasesNPin<2><0>" iostandard=LVCMOS33 | slew=quietio | loc=P48;
net "MotorsPhasesNPin<2><1>" iostandard=LVCMOS33 | slew=quietio | loc=P49;
net "MotorsPhasesNPin<2><2>" iostandard=LVCMOS33 | slew=quietio | loc=P50;
net "MotorsPhasesPPin<3><0>" iostandard=LVCMOS33 | slew=quietio | loc=P68;
net "MotorsPhasesPPin<3><1>" iostandard=LVCMOS33 | slew=quietio | loc=P64;
net "MotorsPhasesPPin<3><2>" iostandard=LVCMOS33 | slew=quietio | loc=P63;
net "MotorsPhasesNPin<3><0>" iostandard=LVCMOS33 | slew=quietio | loc=P60;
net "MotorsPhasesNPin<3><1>" iostandard=LVCMOS33 | slew=quietio | loc=P59;
net "MotorsPhasesNPin<3><2>" iostandard=LVCMOS33 | slew=quietio | loc=P58;
net "MotorsPhasesPPin<4><0>" iostandard=LVCMOS33 | slew=quietio | loc=P85;
net "MotorsPhasesPPin<4><1>" iostandard=LVCMOS33 | slew=quietio | loc=P84;
net "MotorsPhasesPPin<4><2>" iostandard=LVCMOS33 | slew=quietio | loc=P83;
net "MotorsPhasesNPin<4><0>" iostandard=LVCMOS33 | slew=quietio | loc=P82;
net "MotorsPhasesNPin<4><1>" iostandard=LVCMOS33 | slew=quietio | loc=P79;
net "MotorsPhasesNPin<4><2>" iostandard=LVCMOS33 | slew=quietio | loc=P78;
net "MotorsPhasesPPin<5><0>" iostandard=LVCMOS33 | slew=quietio | loc=P117;
net "MotorsPhasesPPin<5><1>" iostandard=LVCMOS33 | slew=quietio | loc=P116;
net "MotorsPhasesPPin<5><2>" iostandard=LVCMOS33 | slew=quietio | loc=P115;
net "MotorsPhasesNPin<5><0>" iostandard=LVCMOS33 | slew=quietio | loc=P124;
net "MotorsPhasesNPin<5><1>" iostandard=LVCMOS33 | slew=quietio | loc=P121;
net "MotorsPhasesNPin<5><2>" iostandard=LVCMOS33 | slew=quietio | loc=P120;

# Hall sensors
net "HallsPin<1><0>" iostandard=LVCMOS33 | pullup | loc=P27;
net "HallsPin<1><1>" iostandard=LVCMOS33 | pullup | loc=P28;
net "HallsPin<1><2>" iostandard=LVCMOS33 | pullup | loc=P29;
net "HallsPin<2><0>" iostandard=LVCMOS33 | pullup | loc=P32;
net "HallsPin<2><1>" iostandard=LVCMOS33 | pullup | loc=P46;
net "HallsPin<2><2>" iostandard=LVCMOS33 | pullup | loc=P47;
net "HallsPin<3><0>" iostandard=LVCMOS33 | pullup | loc=P75;
net "HallsPin<3><1>" iostandard=LVCMOS33 | pullup | loc=P70;
net "HallsPin<3><2>" iostandard=LVCMOS33 | pullup | loc=P69;
net "HallsPin<4><0>" iostandard=LVCMOS33 | pullup | loc=P90;
net "HallsPin<4><1>" iostandard=LVCMOS33 | pullup | loc=P88;
net "HallsPin<4><2>" iostandard=LVCMOS33 | pullup | loc=P87;
net "HallsPin<5><0>" iostandard=LVCMOS33 | pullup | loc=P130;
net "HallsPin<5><1>" iostandard=LVCMOS33 | pullup | loc=P131;
net "HallsPin<5><2>" iostandard=LVCMOS33 | pullup | loc=P132;

# Kicker
net "KickerMISOPin" iostandard=LVCMOS33 | pulldown | loc=P105;
net "KickerCLKPin" iostandard=LVCMOS33 | slew=quietio | loc=P103;
net "KickerCSPin" iostandard=LVCMOS33 | slew=quietio | loc=P102;
net "KickerChargePin" iostandard=LVCMOS33 | slew=quietio | drive=16 | loc=P110;
net "KickLeftPin" iostandard=LVCMOS33 | slew=quietio | loc=P111;
net "KickRightPin" iostandard=LVCMOS33 | slew=quietio | loc=P112;
net "KickerPresentPin" iostandard=LVCMOS33 | pulldown | loc=P113;

# Virtual grounds
net "VirtualGroundPin<0>" iostandard=LVCMOS33 | slew=quietio | drive=16 | loc=P37;
net "VirtualGroundPin<1>" iostandard=LVCMOS33 | slew=quietio | drive=16 | loc=P39;

# Virtual VDDs
net "VirtualVDDPin<0>" iostandard=LVCMOS33 | slew=quietio | drive=16 | loc=P38;
net "VirtualVDDPin<1>" iostandard=LVCMOS33 | slew=quietio | drive=16 | loc=P43;
net "VirtualVDDPin<2>" iostandard=LVCMOS33 | slew=quietio | drive=16 | loc=P44;
net "VirtualVDDPin<3>" iostandard=LVCMOS33 | slew=quietio | drive=16 | loc=P45;
