# Global configuration options
config part=xc6slx9-tqg144-2;
config vccaux=3.3;
config post_crc=enable;

# 8MHz oscillator
timespec "TSOscillator" = PERIOD "Oscillator" 125 ns INPUT_JITTER 6.875 ps; # Input jitter computed from oscillator datasheet as frequency stability (50 ppm) plus aging (5 ppm)
net "OscillatorPin" iostandard=LVCMOS33 | float | tnm_net="Oscillator" | loc=P55;



# Inter-chip bus
net "ICBCSPin" iostandard=LVCMOS33 | float | loc=P38;
# Frequency of the ICB clock is 42 MHz.
# The ICB clock comes from the MCU, which is clocked by the oscillator.
# The oscillator itself yields 50 ppm + 5 ppm = 1.265 ps jitter.
# The MCU's PLL, in turn, adds another 150 ps of cycle-to-cycle jitter and 200 ps of period jitter, for 350 ps, at an example system clock frequency of 120 MHz.
# Our ICB is 42 MHz, so this scales down to 122.5 ps.
# This gives a total final jitter of 123.765 ps.
timespec "TSICBClock" = PERIOD "ICBClock" 23.809 ns INPUT_JITTER 123.765 ps;
net "ICBClockPin" iostandard=LVCMOS33 | float | tnm_net="ICBClock" | loc=P50;

# STM32 datasheet specifies:
# tH(MO) = Data output hold time = min 0 nanoseconds (how long after shifting edge of clock before MOSI no longer exhibits old level)
# tV(MO) = Data output valid time = max 2.5 nanoseconds (how long after shifting edge of clock before MOSI is stable at new level)
# Clock period is 23.809 nanoseconds, so half period is 11.904 nanoseconds.
# We translate the setup and hold time requirements into offsets from the sampling edge, because that is the edge that the MOSI input is sampled on in the FPGA.
# So, data becomes valid 11.904 - 2.5 = 9.404 nanoseconds or longer before sampling edge.
# Data remains valid at least until next shifting edge, so for a length of 23.809 - 2.5 = 21.309 nanoseconds or longer.
inst "ICBMOSIPin" tnm="ICBMOSI";
net "ICBMOSIPin" iostandard=LVCMOS33 | float | tnm_net="ICBMOSI" | loc=P65;
TIMEGRP "ICBMOSI" OFFSET = IN 9.404 ns VALID 21.309 ns BEFORE "ICBClockPin" RISING;

# STM32 datasheet specifies:
# tSU(MI) = Data input setup time = min 6.5 nanoseconds (how long before sampling edge of clock MISO must be stable at new level)
# th(MI) = Data input hold time = min 2.5 nanoseconds (how long after sampling edge of clock MISO must be stable at new level)
# Clock period is 23.809 nanoseconds, so half period is 11.904 nanoseconds.
# We translate the setup and hold time requirements into offsets from the shifting edge, because that is the edge that the MISO output is exhibited on in the FPGA.
# So, data must become valid 11.904 - 6.5 = 5.404 nanoseconds or shorter after shifting edge.
# Data must remain valid 6.5 + 2.5 = 9 nanoseconds or longer after becoming valid.
inst "ICBMISOPin" tnm="ICBMISO";
net "ICBMISOPin" iostandard=LVCMOS33 | slew=slow | drive=12 | loc=P64;
TIMEGRP "ICBMISO" OFFSET = OUT 6.5 ns VALID 9 ns BEFORE "ICBClockPin" RISING;

net "ICBInterruptPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P40;



# DIP switches
net "IDPin<2>" iostandard=LVCMOS33 | pulldown | loc=P59;
net "IDPin<1>" iostandard=LVCMOS33 | pulldown | loc=P61;
net "IDPin<0>" iostandard=LVCMOS33 | pulldown | loc=P62;
net "ChannelPin<1>" iostandard=LVCMOS33 | pulldown | loc=P66;
net "ChannelPin<0>" iostandard=LVCMOS33 | pulldown | loc=P67;

# MRF24J40
net "MRFCSPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P29;
net "MRFClockPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P35;
net "MRFMOSIPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P34;
net "MRFMISOPin" iostandard=LVCMOS33 | float | loc=P27;
net "MRFResetPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P30;
net "MRFWakePin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P32;
net "MRFInterruptPin" iostandard=LVCMOS33 | float | loc=P33;

# LEDs
net "TestLEDsPin<0>" iostandard=LVCMOS33 | slew=quietio | drive=2 | loc=P75;
net "TestLEDsPin<1>" iostandard=LVCMOS33 | slew=quietio | drive=2 | loc=P78;
net "TestLEDsPin<2>" iostandard=LVCMOS33 | slew=quietio | drive=2 | loc=P79;

# Accelerometer
net "AccelCSPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P22;
net "AccelClockPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P26;
net "AccelMOSIPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P24;
net "AccelMISOPin" iostandard=LVCMOS33 | float | loc=P23;
net "AccelInterruptPin" iostandard=LVCMOS33 | float | loc=P21;

# Gyroscope
net "GyroCSPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P133;
net "GyroClockPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P132;
net "GyroMOSIPin" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P127;
net "GyroMISOPin" iostandard=LVCMOS33 | float | loc=P131;
net "GyroInterruptPin" iostandard=LVCMOS33 | float | loc=P134;

# Optical encoders
net "EncodersPin<0><0>" iostandard=LVCMOS33 | float | loc=P137;
net "EncodersPin<0><1>" iostandard=LVCMOS33 | float | loc=P138;
net "EncodersPin<1><0>" iostandard=LVCMOS33 | float | loc=P142;
net "EncodersPin<1><1>" iostandard=LVCMOS33 | float | loc=P143;
net "EncodersPin<2><0>" iostandard=LVCMOS33 | float | loc=P6;
net "EncodersPin<2><1>" iostandard=LVCMOS33 | float | loc=P7;
net "EncodersPin<3><0>" iostandard=LVCMOS33 | float | loc=P16;
net "EncodersPin<3><1>" iostandard=LVCMOS33 | float | loc=P17;

# Motor drivers
net "MotorsPhasesHPin<0><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P87;
net "MotorsPhasesHPin<0><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P88;
net "MotorsPhasesHPin<0><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P92;
net "MotorsPhasesLPin<0><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P93;
net "MotorsPhasesLPin<0><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P94;
net "MotorsPhasesLPin<0><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P95;
net "MotorsPhasesHPin<1><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P80;
net "MotorsPhasesHPin<1><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P81;
net "MotorsPhasesHPin<1><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P82;
net "MotorsPhasesLPin<1><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P83;
net "MotorsPhasesLPin<1><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P84;
net "MotorsPhasesLPin<1><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P85;
net "MotorsPhasesHPin<2><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P118;
net "MotorsPhasesHPin<2><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P117;
net "MotorsPhasesHPin<2><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P116;
net "MotorsPhasesLPin<2><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P115;
net "MotorsPhasesLPin<2><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P114;
net "MotorsPhasesLPin<2><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P112;
net "MotorsPhasesHPin<3><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P100;
net "MotorsPhasesHPin<3><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P101;
net "MotorsPhasesHPin<3><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P102;
net "MotorsPhasesLPin<3><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P104;
net "MotorsPhasesLPin<3><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P105;
net "MotorsPhasesLPin<3><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P111;
net "MotorsPhasesHPin<4><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P126;
net "MotorsPhasesHPin<4><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P124;
net "MotorsPhasesHPin<4><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P123;
net "MotorsPhasesLPin<4><0>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P121;
net "MotorsPhasesLPin<4><1>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P120;
net "MotorsPhasesLPin<4><2>" iostandard=LVCMOS33 | slew=quietio | drive=12 | loc=P119;

# Hall sensors
net "HallsPin<0><0>" iostandard=LVCMOS33 | float | loc=P140;
net "HallsPin<0><1>" iostandard=LVCMOS33 | float | loc=P141;
net "HallsPin<0><2>" iostandard=LVCMOS33 | float | loc=P139;
net "HallsPin<1><0>" iostandard=LVCMOS33 | float | loc=P2;
net "HallsPin<1><1>" iostandard=LVCMOS33 | float | loc=P5;
net "HallsPin<1><2>" iostandard=LVCMOS33 | float | loc=P1;
net "HallsPin<2><0>" iostandard=LVCMOS33 | float | loc=P9;
net "HallsPin<2><1>" iostandard=LVCMOS33 | float | loc=P10;
net "HallsPin<2><2>" iostandard=LVCMOS33 | float | loc=P8;
net "HallsPin<3><0>" iostandard=LVCMOS33 | float | loc=P14;
net "HallsPin<3><1>" iostandard=LVCMOS33 | float | loc=P15;
net "HallsPin<3><2>" iostandard=LVCMOS33 | float | loc=P12;
net "HallsPin<4><0>" iostandard=LVCMOS33 | float | loc=P97;
net "HallsPin<4><1>" iostandard=LVCMOS33 | float | loc=P98;
net "HallsPin<4><2>" iostandard=LVCMOS33 | float | loc=P99;
